@model OnlineFoodOrdering.Models.Application.ViewModels.FoodItemsListViewModel
@using OnlineFoodOrdering.HtmlHelpers
@{
    ViewBag.Title = "Food Menu List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-image">
    <div class="overlay">
        <div class="hero-text">
            <strong class="subtitle">Welcome To Our Restaurant</strong>
            <h1 class="title">Really Fresh &amp; Tasty</h1>
            <a href="#foodList" class="btn btn-primary mt-3 btn-show-menu">Check our Menu</a>
        </div>
    </div>
</div>

<div class="container foodItems" id="foodList" style="margin-top:50px">
    <h2 class="text-center">Our Food Menu List</h2>
    
    <div class="categories">
        <span>Categories: </span>
        @Html.ActionLink("Show All", "FoodItemsList","FoodItem",new { @class = "btn btn-default " }) 
        @Html.Action("Menu", "Nav")
    </div>

    <p class="margin-bottom-lg margin-top-md font-size-20">
        <b>What would you like to order</b>
    </p>

    
        <div class="row">
            @foreach (var p in Model.FoodItems)
            {
                @Html.Partial("_FoodItemSummary", p)
            }
        </div>
    
    <div class="btn-group  pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("FoodItemsList",
                        new { page = x , category = Model.CurrentCategory }))
    </div>

</div>