.Header-inner--top {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-image {
    background-image: url("../images/Background.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.hero-image .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33,37,41,.85);
    color: #fff;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: inherit;
}

.hero-text .subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}

.hero-text .title {
    font-size: 70px;
    font-weight: bold;
}

.hero-text .mt-3 {
    margin-top: 2rem !important;
}

.foodItems .categories {
    margin: 20px 0;
}
.categories span{
    display:inline-block;
    font-size: 16px;
    font-weight:bold;
    padding:7px 20px 0 0;
}


.shop-product {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.05);
    padding: 35px 30px 50px;
    margin: 10px 20px 30px;
    text-align: center;
    width:350px;
    height:320px;
}
.shop-product .product-desc {
    border-radius: 15px;
}

.shop-product .product-img{
    margin: auto;
}

.shop-product .product-name{
    letter-spacing:0.5px;
    font-size:21px;
}

.product-tagline-wrapper{
    height: 57px;
    overflow:hidden;
}

.product-tagline {
    font-size: 15px;
    display: table;
    height: 37px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.shop-product .price {
    color: #333743;
    font-size: 17px;
    font-weight: bold;
}

.shop-product .add-to-cart {
    margin-top: 15px;
}

.add-to-cart {
    margin-left: 10px;
    height: 43px;
}

.add-to-cart .quantity {
    border: 0 none;
    border-radius: 50px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
    display: inline-block;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    width: 60px;
}


.foodItems .margin-bottom-lg {
    margin-bottom: 2rem;
}

.foodItems .margin-top-md {
    margin-top: 1rem;
}

.font-size-20 {
    font-size: 20px !important;
}