
@{
    ViewBag.Title = "Hunter: Order Submitted";
}

<div class="text-center" style="margin:75px">
    <span class="glyphicon glyphicon-ok" style="color:#e5301d;font-size:50px;margin-bottom:20px;"></span>
    <h2 class="margin-top-md">Order Successful</h2>
    <p class="margin-top-md">Thanks for placing your order On Hunter Restaurant.</p>
</div>